#!/usr/bin/env bash

# Default editor
export EDITOR="atom";

# Remove some commands from history
export HISTIGNORE="ls:l:la:cd*:pwd:exit:date:* --help";

# Make sure brew works nicely with nvm
source $(brew --prefix nvm)/nvm.sh

# Path for nvm
export NVM_DIR=~/.nvm

# Export command prompt
export PS1="[\t]:\[\033[1;97m\]\W $\[\033[0m\] ";
