# Default editor
export EDITOR="sublime";

# Remove some commands from history
export HISTIGNORE="ls:l:la:cd*:pwd:exit:date:* --help";

# Make sure brew works nicely with nvm
$(brew --prefix nvm)/nvm.sh

# Path for go development
export GOPATH=$HOME/Documents/Programming/Go;

# Cask install location
export HOMEBREW_CASK_OPTS="--appdir=/Applications --caskroom=/etc/Caskroom";