[submodule "vim/vim.symlink/bundle/vim-json"]
	path = vim/vim.symlink/bundle/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "vim/vim.symlink/bundle/vim-markdown"]
	path = vim/vim.symlink/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim/vim.symlink/bundle/vim-editorconfig"]
	path = vim/vim.symlink/bundle/vim-editorconfig
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vim/vim.symlink/bundle/vim-syntastic"]
	path = vim/vim.symlink/bundle/vim-syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule "vim/vim.symlink/bundle/vim-hdevtools"]
	path = vim/vim.symlink/bundle/vim-hdevtools
	url = https://github.com/bitc/vim-hdevtools.git
[submodule "vim/vim.symlink/bundle/vim-surround"]
	path = vim/vim.symlink/bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
